.social-media-div {
  font-size: 2em;
}

.icon-button i {
  color: white !important;
}
.icon-button {
  margin-bottom: 10px;
}

.icon-button i {
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
  margin-bottom: 10px;
  margin-top: 2rem !important;
}

.facebook i {
  background-color: #3b5998;
}

.linkedin i {
  background-color: #0e76a8;
}

.github i {
  background-color: #333;
}

.instagram i {
  background-color: #fca326;
}

.google i {
  background-color: #ea4335;
}

.twitter i {
  background-color: #1da1f2;
}

/*Hover Transition*/
.twitter i:hover,
.google i:hover,
.instagram i:hover,
.github i:hover,
.linkedin i:hover,
.facebook i:hover {
  background-color: black;
  transition: 0.3s ease-in;
  color: white;
}
/* .social-media-div {
  margin-left: 3rem;
  margin-top: 5rem;
} */
.deatil {
  font-size: 1.5rem !important;
  margin-top: 1rem !important;
}
/* Media Query */
@media (max-width: 768px) {
  .desription {
    font-size: 1.4rem !important;
  }
  .deatil {
    font-size: 1.3rem !important;
  }
  .icon-button {
    font-size: 0rem !important;
  }
  .icon-button i {
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2rem;
    margin-bottom: 10px;
    margin-top: 2rem !important;
  }
  /* .Button {
    margin-left: 0rem !important;
    margin: 0.1rem !important;
  } */
}
/* .block {
  display: flex !important;
}
.Button {
  margin-left: 3rem !important;
  margin: 3rem;
} */

.waveemoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
